html{
    font-family: monospace;
}

body{
    margin: 0;
    background-image: url(../Image/EarthFromSpace.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    position: absolute;
    width: 100%;
    top: 15%;
    color: rgb(79, 88, 133);
    text-align: center;
}

/*-------------------- Desert --------------------*/

.desert {
    width: 90%;
    position: absolute;
    top: 100%;
    margin: 5%;
}

.desert_picture {
    width: 50%;
    border-radius: 10px;
}

.desert_info {
    width: 50%;
    background-color: rgb(71, 71, 71);
    position: absolute;
    top: 75%;
    left: 15%;
    padding: 30px;
    border-radius: 10px;
    color: rgb(191, 218, 218);
}

.desert_info h1 {
    font-size: 40px;
}

.desert_info p {
    font-size: 20px;
}

.desert_info a {
    text-decoration: none;
    background-color: rgb(191, 218, 218);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 8px;
}

.button:hover{
    background-color: rgb(103, 116, 111);
    transition: 0.1s;
}

/*-------------------- Tundra --------------------*/

.tundra {
    width: 90%;
    position: absolute;
    top: 200%;
    margin: 5%;
}

.tundra_picture {
    position: relative;
    width: 50%;
    left: 50%;
    border-radius: 10px;
}

.tundra_info {
    width: 50%;
    background-color: rgb(71, 71, 71);
    position: absolute;
    top: 75%;
    right: 15%;
    padding: 30px;
    border-radius: 10px;
    color: rgb(191, 218, 218);
}

.tundra_info h1 {
    font-size: 40px;
}

.tundra_info p {
    font-size: 20px;
}

.tundra_info a {
    text-decoration: none;
    background-color: rgb(191, 218, 218);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 8px;
}

/*-------------------- Forest --------------------*/

.forest {
    width: 90%;
    position: absolute;
    top: 300%;
    margin: 5%;
}

.forest_picture {
    width: 50%;
    border-radius: 10px;
}

.forest_info {
    width: 50%;
    background-color: rgb(71, 71, 71);
    position: absolute;
    top: 75%;
    left: 15%;
    padding: 30px;
    border-radius: 10px;
    color: rgb(191, 218, 218);
}

.forest_info h1 {
    font-size: 40px;
}

.forest_info p {
    font-size: 20px;
}

.forest_info a {
    text-decoration: none;
    background-color: rgb(191, 218, 218);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 8px;
}

/*-------------------- Grassland --------------------*/

.grassland {
    width: 90%;
    position: absolute;
    top: 400%;
    margin: 5%;
}

.grassland_picture {
    width: 50%;
    border-radius: 10px;
}

.grassland_info {
    width: 50%;
    background-color: rgb(71, 71, 71);
    position: absolute;
    top: 75%;
    left: 15%;
    padding: 30px;
    border-radius: 10px;
    color: rgb(191, 218, 218);
}

.grassland_info h1 {
    font-size: 40px;
}

.grassland_info p {
    font-size: 20px;
}

.grassland_info a {
    text-decoration: none;
    background-color: rgb(191, 218, 218);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 8px;
}

/*-------------------- Ocean --------------------*/

.ocean {
    width: 90%;
    position: absolute;
    top: 500%;
    margin: 5%;
}

.ocean_picture {
    position: relative;
    width: 50%;
    left: 50%;
    border-radius: 10px;
}

.ocean_info {
    width: 50%;
    background-color: rgb(71, 71, 71);
    position: absolute;
    top: 75%;
    right: 15%;
    padding: 30px;
    border-radius: 10px;
    color: rgb(191, 218, 218);
}

.ocean_info h1 {
    font-size: 40px;
}

.ocean_info p {
    font-size: 20px;
}

.ocean_info a {
    text-decoration: none;
    background-color: rgb(191, 218, 218);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 8px;
}

/*-------------------- Rainforest --------------------*/

.rainforest {
    width: 90%;
    position: absolute;
    top: 600%;
    margin: 5%;
}

.rainforest_picture {
    width: 50%;
    border-radius: 10px;
}

.rainforest_info {
    width: 50%;
    background-color: rgb(71, 71, 71);
    position: absolute;
    top: 75%;
    left: 15%;
    padding: 30px;
    border-radius: 10px;
    color: rgb(191, 218, 218);
}

.rainforest_info h1 {
    font-size: 40px;
}

.rainforest_info p {
    font-size: 20px;
}

.rainforest_info a {
    text-decoration: none;
    background-color: rgb(191, 218, 218);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 8px;
}
