html {
    font-family: monospace;
}

body {
    margin: 0;
    background-image: url(../Image/EarthFromSpace.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    position: absolute;
    width: 100%;
    top: 15%;
    color: rgb(128, 128, 192);
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.link:hover {
    background-color: rgb(128, 160, 160);
    transition: 0.1s;
}

/*-------------------- Desert --------------------*/

.desert {
    width: 90%;
    position: absolute;
    top: 100%;
    margin: 5%;
}

.desert_picture {
    width: 50%;
    border-radius: 10px;
}

.desert_info {
    width: 50%;
    background-color: rgb(64, 64, 64);
    background-image: linear-gradient(rgb(128, 128, 128), rgb(16, 16, 16));
    color: rgb(192, 255, 255);
    position: absolute;
    top: 75%;
    left: 15%;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.desert_info_light {
    background-color: rgb(192, 255, 255);
    background-image: linear-gradient(rgb(192, 255, 255), rgb(128, 160, 160));
    color: rgb(64, 64, 64);
}

.desert_info a {
    text-decoration: none;
    background-color: rgb(192, 255, 255);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 8px;
}

/*-------------------- Tundra --------------------*/

.tundra {
    width: 90%;
    position: absolute;
    top: 200%;
    margin: 5%;
}

.tundra_picture {
    position: relative;
    width: 50%;
    left: 50%;
    border-radius: 10px;
}

.tundra_info {
    width: 50%;
    background-color: rgb(64, 64, 64);
    background-image: linear-gradient(rgb(128, 128, 128), rgb(16, 16, 16));
    color: rgb(192, 255, 255);
    position: absolute;
    top: 75%;
    right: 15%;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.tundra_info_light {
    background-color: rgb(192, 255, 255);
    background-image: linear-gradient(rgb(192, 255, 255), rgb(128, 160, 160));
    color: rgb(64, 64, 64);
}

.tundra_info a {
    text-decoration: none;
    background-color: rgb(192, 255, 255);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 8px;
}

/*-------------------- Forest --------------------*/

.forest {
    width: 90%;
    position: absolute;
    top: 300%;
    margin: 5%;
}

.forest_picture {
    width: 50%;
    border-radius: 10px;
}

.forest_info {
    width: 50%;
    background-color: rgb(64, 64, 64);
    background-image: linear-gradient(rgb(128, 128, 128), rgb(16, 16, 16));
    color: rgb(192, 255, 255);
    position: absolute;
    top: 75%;
    left: 15%;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.forest_info_light {
    background-color: rgb(192, 255, 255);
    background-image: linear-gradient(rgb(192, 255, 255), rgb(128, 160, 160));
    color: rgb(64, 64, 64);
}

.forest_info a {
    text-decoration: none;
    background-color: rgb(192, 255, 255);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 8px;
}

/*-------------------- Grassland --------------------*/

.grassland {
    width: 90%;
    position: absolute;
    top: 400%;
    margin: 5%;
}

.grassland_picture {
    width: 50%;
    border-radius: 10px;
}

.grassland_info {
    width: 50%;
    background-color: rgb(64, 64, 64);
    background-image: linear-gradient(rgb(128, 128, 128), rgb(16, 16, 16));
    color: rgb(192, 255, 255);
    position: absolute;
    top: 75%;
    left: 15%;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.grassland_info_light {
    background-color: rgb(192, 255, 255);
    background-image: linear-gradient(rgb(192, 255, 255), rgb(128, 160, 160));
    color: rgb(64, 64, 64);
}

.grassland_info a {
    text-decoration: none;
    background-color: rgb(192, 255, 255);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 8px;
}

/*-------------------- Ocean --------------------*/

.ocean {
    width: 90%;
    position: absolute;
    top: 500%;
    margin: 5%;
}

.ocean_picture {
    position: relative;
    width: 50%;
    left: 50%;
    border-radius: 10px;
}

.ocean_info {
    width: 50%;
    background-color: rgb(64, 64, 64);
    background-image: linear-gradient(rgb(128, 128, 128), rgb(16, 16, 16));
    color: rgb(192, 255, 255);
    position: absolute;
    top: 75%;
    right: 15%;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.ocean_info_light {
    background-color: rgb(192, 255, 255);
    background-image: linear-gradient(rgb(192, 255, 255), rgb(128, 160, 160));
    color: rgb(64, 64, 64);
}

.ocean_info a {
    text-decoration: none;
    background-color: rgb(192, 255, 255);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 8px;
}

/*-------------------- Jungle --------------------*/

.jungle {
    width: 90%;
    position: absolute;
    top: 600%;
    margin: 5%;
}

.jungle_picture {
    width: 50%;
    border-radius: 10px;
}

.jungle_info {
    width: 50%;
    background-color: rgb(64, 64, 64);
    background-image: linear-gradient(rgb(128, 128, 128), rgb(16, 16, 16));
    color: rgb(192, 255, 255);
    position: absolute;
    top: 75%;
    left: 15%;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.jungle_info_light {
    background-color: rgb(192, 255, 255);
    background-image: linear-gradient(rgb(192, 255, 255), rgb(128, 160, 160));
    color: rgb(64, 64, 64);
}

.jungle_info a {
    text-decoration: none;
    background-color: rgb(192, 255, 255);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 8px;
}

.spacer {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 400%
}

/*-------------------- Toolbar --------------------*/

.toolbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(64, 64, 64);
}

.toolbar_light {
    background-color: rgb(192, 255, 255);
}

.mode {
    background-color: rgb(64, 64, 64);
    color: rgb(192, 255, 255);
    border-radius: 5px;
    padding: 10px;
    margin-left: 25px;
    cursor: pointer;
    font-size: 20px;
}

.mode_light {
    background-color: rgb(192, 255, 255);
    color: rgb(64, 64, 64);
}

.mode:hover {
    background-color: rgb(192, 255, 255);
    color: rgb(64, 64, 64);
    transition: 0.1s;
}

.mode_light:hover {
    background-color: rgb(128, 160, 160);
    color: black;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button {
    background-color: rgb(64, 64, 64);
    color: rgb(192, 255, 255);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.button_light {
    background-color: rgb(192, 255, 255);
    color: rgb(64, 64, 64);
}

.button:hover {
    background-color: rgb(192, 255, 255);
    color: rgb(64, 64, 64);
    transition: 0.1s;
}

.button_light:hover {
    background-color: rgb(128, 160, 160);
    color: black;
}

.button1 {
    font-size: 20px;
}

.button2 {
    font-size: 40px;
}

.button3 {
    font-size: 60px;
}
